footer.footer 
    .footer__logo
        img(src='/img/logo-green-small.png' alt='Footer Logo')
    ul.footer__nav 
        li: a(href='#') About Us 
        li: a(href='#') Became an Author 
        li: a(href='#') Download App
        li: a(href='#') Career
        li: a(href='#') Contact us
    p.footer__copyright &copy; Mamt4real and Iysheme 2021
