header.header 
    nav.nav.nav--posts 
        a.nav__el(href='/') All Posts
    .header__logo
        img(src='/img/logo-white.png' alt='webuzz logo')
    nav.nav.nav--user 
        if user
            a.nav__el.nav__el--logout(href='#') Logout
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.image}` alt=`${user.username}`)
                span= user.name.split(" ")[0] 
        else
            a.nav__el(href='/login') Log in 
            a.nav__el.nav__el--cta(href='/signup') Sign up
