extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form#form-forgot-pass.form
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required name='email')
                .form__group
                    input#send-link-btn.btn.btn--green(type='submit' value='Send Reset Link')
                .form__group
                    p.card__text
                        | Remembered your password? click
                        a(href='/login')  here 
                        | to login